src/main/resources/kobu-1.0.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="kobu-project">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="version" type="xs:decimal"/>
                <xs:element name="sourcePath" type="xs:string"/>
                <xs:element name="properties">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="dependencies">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="dependency">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="url" type="xs:string"/>
                                        <xs:element name="sha" type="xs:string"/>
                                        <xs:element name="tag" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="commands">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="command">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="xs:string"/>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="script" type="xs:string"/>
                                        <xs:element name="description" type="xs:string"/>
                                        <xs:element name="pattern" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>